@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply text-white bg-main-500;
}

[dir="ltr"] {
  font-family: "Poppins", "Cairo", monospace;
}

[dir="rtl"] {
  font-family: "Cairo", "Poppins", monospace;
}

.hide-scroll-bar::-webkit-scrollbar {
  width: 0px !important;
}
.is-snapped.is-in-view img {
  @apply scale-105;
}

.auth-form-button {
  @apply flex items-center border border-gray-300 h-12 justify-between w-full font-bold rounded-full text-gray-900 px-6 py-[3px];
}

.auth-form-button,
.auth-form-subtitle {
  @apply text-base leading-6;
}

.auth-form-subtitle {
  @apply font-light text-gray-700;
}
.text-body-5 {
  @apply text-sm leading-5;
}

.dir-rtl {
  direction: rtl !important;
}
.dir-ltr {
  direction: ltr !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 334, 73%, 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 334, 73%, 60%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 270, 83%, 45%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 334, 73%, 60%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.error {
  @apply text-red-500 text-sm;
}

.scrollbar {
  scrollbar-color: #aaa #f0f0f0;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
}

.react-international-phone-input {
  @apply !border-gray-300 min-h-11 w-full !text-gray-500 !bg-gray-100;
  [dir="ltr"] & {
    @apply !rounded-r-lg !rounded-l-none !border-l-0;
  }
  [dir="rtl"] & {
    @apply !rounded-l-lg !rounded-r-none !border-r-0;
  }
}
.react-international-phone-country-selector-button {
  @apply !h-11 !w-14 !bg-white;
  [dir="ltr"] & {
    @apply !rounded-s-lg !rounded-e-none !border-e-0;
  }
  [dir="rtl"] & {
    @apply !rounded-r-lg !rounded-l-none !border-l-0;
  }
}
.react-international-phone-country-selector-dropdown {
  @apply !outline-main-600 !border-0 !rounded-lg;
  [dir="ltr"] & {
    @apply !end-0;
  }
  [dir="rtl"] & {
    @apply !start-0;
  }
}

.gradient-btn{
  @apply bg-gradient-to-r from-purple-300 via-purple-500 to-main-700 text-white hover:opacity-70 transition-all
}